[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/71mal1/Desktop/Untitled Project]
row=2
col=0

[/home/71mal1/Desktop/Wine]
row=1
col=5

[/home/71mal1/Desktop/kali-themes]
row=0
col=16

[/home/71mal1/Desktop/Github]
row=5
col=0

[0017AA1B0DE40FAC]
row=3
col=0

[63a20c38-34c2-4655-b309-c15cceb6f881]
row=4
col=0

[Trash]
row=0
col=1

[/]
row=0
col=0

[/home/71mal1]
row=1
col=0

